<%
  # お問い合わせページ

%>

<div class="container">
  <div class="row-fluid">
    <h3> お問い合わせ </h3>

    TODO: お問い合わせフォームを出す 

<br />
<br />
<br />

    <h4> メールでのお問い合わせ </h4>
    メールでのお問い合わせの場合、下記のアドレスへ、以下の内容を記載して送信してください。<br />
    ・ 件名<br />
    ・ 差出人名、返信先メールアドレス<br />
    ・ ご用件<br />
    <br />
    <a href="mailto: admin@example.com"><i class="icon-envelope"></i> admin@example.com</a>
  </div><!-- row-fluid -->
</div><!-- container -->
