<%
  # 使い方ページ

%>

<div class="container">
  <div class="row-fluid">
    <h3> 使い方 </h3>
    <div style="margin-bottom:20px;">
      <h4 class="headline"> Title </h4>
      Contents

    </div>


  </div><!-- row-fluid -->
</div><!-- container -->
