<%
  # エピソード カット管理画面
  
%>

<div class="container">
  <div class="row-fluid">
    <div class="span12" style="margin-top: -8px;">
      <h4 class="headline"><%= @episode.title %></h4>


    </div>
  </div>
</div>
